body{
  margin: 0;

}

img{
  max-width: 100%;
  vertical-align: top;
  /*display: none;*/
}

@media screen and (max-width: 786px){
  body{
    border: 10px solid #192b36;
  }
  #newversion{
    display: none;
  }
}
@media screen and (min-width: 786px){
  body{
    border: 10px solid #116607;
  }
  #responsive{
    display: none;
  }
}
